---
---
@charset "utf-8";


// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "variables",
        "base"
;

.vgrid {
  position: absolute;
  z-index: 1000;
  top: 66px;
  right: 0;
  left: 0;
  bottom: 0;
  background-position: left top;
  opacity: 0.5;
  &.vgrid-4 {
    background-size: 1px 8px;
    background-image: url(../img/grid/vgrid-4.png);
  }
  &.vgrid-5 {
    background-size: 1px 10px;
    background-image: url(../img/grid/vgrid-5.png);
  }
  &.vgrid-8 {
    background-size: 1px 16px;
    background-image: url(../img/grid/vgrid-8.png);
  }
  &.vgrid-10 {
    background-size: 1px 20px;
    background-image: url(../img/grid/vgrid-10.png);
  }
}

.retina-img {
  display: block;
  zoom: 50%;
}

.overlayer {
  -webkit-transition: all .15s ease;
  transition: all .15s ease; 
}

.redlines {
  position: relative;
  text-align: center;
  .redlines-base {
    position: relative;
    display: inline-block;
  }
  .redlines-layer {
    position: absolute;
    top: 0;
  }
  .hide {
    display: block;
    opacity: 0;
  }
}

.redlines-content { 
  text-align: center; 
  font-size: $small-font-size;
}

.note {
  position: absolute;
  width: 300px;
  height: 1px;
  font-size: $small-font-size;
  text-align: left;
  .note-dot {
    position: absolute;
    left: -10px;
    top: -10px;
    width: 16px;
    height: 16px;
    z-index: 100002;
    border: 2px solid $white;
    border-radius: 100%;
    background-color: $hero;
    -webkit-box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.3);
    box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.3);
  }
  .note-text {
    display: inline-block;
    padding: $spacing-unit/2;
    max-width: 180px;
    background-color: $white;
    text-align: left;
    -webkit-box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.3);
    box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.3);
    p {
      display: block;
    }
    p:last-child {
      margin-bottom: 0;
    }
  }
}

.redlines-toolbar {
  position: absolute;
  top: 80px;
  right: 15px;
  z-index: 100002;
  font-size: $small-font-size;
  padding: $spacing-unit/1.8;
  background: rgba(255, 255, 255, 0.7);
  border: 1px solid $grey-lighter;
  &.closed {
    background-color: $grey-lighter;
    ul { display: none; }
  }
  #redlines-toolbar-action {
    position: absolute;
    right: 9px;
    top: 9px;
    opacity: 0.7;
    &:hover {
      opacity: 1;
    }
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
}