<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>
    {% if page.title %}
      {% if page.collection %}
        {{ page.collection }} - 
      {% endif %}
      {{ page.title }}
    {% else %}
      {{ site.title }}
    {% endif %}
    </title>
    <meta name="description" content="{{ site.description }}">
    {% if page.layout == "redlines" %}
      <link rel="stylesheet" href="{{ "/css/redlines.css" | prepend: site.baseurl }}">
      <script type="text/javascript" src="{{ "/js/redlines.js" | prepend: site.baseurl }}"></script>
    {% else %}
      <link rel="stylesheet" href="{{ "/css/default.css" | prepend: site.baseurl }}">
    {% endif %}
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
</head>
