<!DOCTYPE html>
<html>

{% include head.html %}

<body>

  {% include header.html %}

  <div class="redlines-toolbar" id="redlines-toolbar">
    <a href="#" id="redlines-toolbar-action"><img src="{{ "/img/icon-close.svg" | prepend: site.baseurl }}" width="20" id="redlines-toolbar-action-close"><img src="{{ "/img/icon-gear.svg" | prepend: site.baseurl }}" width="20" id="redlines-toolbar-action-gear" class="hide"></a>
    <ul>
      {% if page.redlines.verticalgrid %}
        <li><input name="conf" type="checkbox" id="vgrid"> <label for="vgrid">Grid</label></li>
      {% endif %}
      {% if page.redlines.layers %}
        {% for layer in page.redlines.layers %}
          <li><input name="conf" type="checkbox" id="layer-{{ layer.name | slugify }}" {% if layer.open %}checked="checked"{% endif %}> <label for="layer-{{ layer.name | slugify }}">{{ layer.name }}</label></li>
        {% endfor %}
      {% endif %}
      {% if page.redlines.notes %}
        <li><input name="conf" type="checkbox" id="notes" checked="checked"> <label for="notes">Notes</label></li>
      {% endif %}
    </ul>
  </div>

  {% if page.redlines.verticalgrid %}
  <div class="overlayer vgrid vgrid-{{ page.redlines.verticalgrid }} hide" id="vgrid-elem"></div>
  {% endif %}

  <div class="redlines" id="redlines" style="margin-top: {{ page.redlines.offset }}px">
    
  {% if page.redlines.base %}
  <div class="redlines-base">
    {% for base in page.redlines.base.images %}
    <img src="{{ base | prepend: site.baseurl }}" class="{% if page.redlines.base.retina %}retina-img{% endif %}" />
    {% endfor %}

    {% if page.redlines.layers %}
      {% for layer in page.redlines.layers %}
      <div class="overlayer redlines-layer {% if layer.open == false %}hide{% endif %}" id="layer-{{ layer.name | slugify }}-elem">
        {% for image in layer.images %}
          <img src="{{ image | prepend: site.baseurl }}" class="{% if layer.retina %}retina-img{% endif %}" />
        {% endfor %}
      </div>
      {% endfor %}
    {% endif %}

    {% if page.redlines.notes %}
      <div class="overlayer redlines-layer" id="notes-elem">
        {% for note in page.redlines.notes %}
          <div class="note" style="left: {{note.x}}px; top: {{note.y}}px;">
            <div class="note-dot" id="note-{{ forloop.index }}"></div>
            <div class="note-text overlayer hide" id="note-{{ forloop.index }}-text">
              {% if note.author %}
                <span class="note-avatar">
                  <img src="https://twitter.com/{{ note.author }}/profile_image?size=original">
                </span>
              {% endif %}
              {{ note.text | markdownify }}
            </div>
          </div>
        {% endfor %}
      </div>
    {% endif %}
  </div>
  {% endif %}

  </div>

  <div class="redlines-content">
    <div class="wrapper">
      {{ content }}
    </div>
  </div>

  {% include footer.html %}

</body>

</html>
