<!DOCTYPE html>
<html>

{% include head.html %}

<body>

  {% include header.html %}

  <div class="redlines-toolbar" id="redlines-toolbar">
    <a href="#" id="redlines-toolbar-action">X</a>
    <ul>
      {% if page.redlines.verticalgrid %}
        <li><input name="conf" type="checkbox" id="vgrid"> <label for="vgrid">Show Grid</label></li>
      {% endif %}
      {% if page.redlines.layers %}
        {% for layer in page.redlines.layers %}
          <li><input name="conf" type="checkbox" id="layer-{{ layer.name | slugify }}"> <label for="layer-{{ layer.name | slugify }}">{{ layer.name }}</label></li>
        {% endfor %}
      {% endif %}
    </ul>
  </div>

  {% if page.redlines.verticalgrid %}
  <div class="overlayer vgrid vgrid-{{ page.redlines.verticalgrid }} hide" id="vgrid-elem"></div>
  {% endif %}

  <div class="redlines" id="redlines" style="margin-top: {{ page.redlines.offset }}px">
    
  {% if page.redlines.base %}
  <div class="redlines-base">
    {% for base in page.redlines.base.images %}
    <img src="{{ base | prepend: site.baseurl }}" class="{% if page.redlines.base.retina %}retina-img{% endif %}" />
    {% endfor %}

    {% if page.redlines.layers %}
      {% for layer in page.redlines.layers %}
      <div class="overlayer redlines-layer {% if layer.open == false %}hide{% endif %}" id="layer-{{ layer.name | slugify }}-elem">
        {% for image in layer.images %}
          <img src="{{ image | prepend: site.baseurl }}" class="{% if layer.retina %}retina-img{% endif %}" />
        {% endfor %}
      </div>
      {% endfor %}
    {% endif %}

  </div>
  {% endif %}

  </div>

  <div class="redlines-content">
    <div class="wrapper">
      {{ content }}
    </div>
  </div>

  {% include footer.html %}

</body>

</html>
